@charset "utf-8";

* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }


/* Share buttons */
.share-buttons {
  border-top: 1px solid #eee;
  margin: 0px 0;
  padding: 0px 0;
}
.share-buttons:after {
  display: table;
  content: '';
  clear: both;
}
.share-buttons div { 
	float: left; 
}
.share-buttons > .share-facebook, .share-buttons > .share-twitter, .share-buttons > .share-gplus {
  opacity: .5;
}
.share-buttons:hover > .share-facebook,
.share-buttons:hover > .share-twitter,
.share-buttons:hover > .share-gplus {
  opacity: 1
}

.share-twitter {
  float: left;
}
