@charset "utf-8";
/*
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
*/

/* Share buttons */
.addthis_toolbox addthis_default_style addthis_32x32_style {
  border-top: 1px solid #eee;
  margin: 20px 0;
  padding: 20px 0;
}