<div id="automator-services" class="row">
	<div class="col-12">
		<h2>Automator Services</h2>
	</div><!-- end col-12 -->
	
	<div class="col-sm-6">
		<ul>
			<li> ⏏ Eject All Disks</li>
			<li> ❌ Delete File(s) Permanently</li>
			<li> ❌ Uninstall App
			</li><li> 🌏 Download Torrent from Hash
			</li><li> 🌏 Kill Firefox plugin-container
			</li><li> 🌏 Open URL in Firefox
			</li><li> 🌏 Search with Google (Firefox)
			</li><li> 🎥 Find Subtitles > Open in VLC
			</li><li> 🎨 Apply Effect to Images
			</li><li> 🎨 Apply Effect to PDF
			</li><li> 🎨 Get GPS Position of Image
			</li><li> 🎨 Rotate Image(s)
			</li><li> 🎵 Import Files into iTunes (A)
			</li><li> 🎵 Import Files into iTunes (V)
			</li><li> 👾 Enable GUI Scripting
			</li><li> 👾 Hide Application Icon
			</li><li> 👾 Open with AppleScript Editor
			</li><li> 👾 Open with Automator
			</li><li> 👾 Turn ON | OFF App Nap
			</li><li> 💾 CCC (Scheduled Tasks)
			</li><li> 📂 MD5 Checksum
			</li><li> 📂 Rename Files
			</li><li> 📄 Compress PDF</li>
			<li>📄 Convert Documents To PDF </li>
			<li> 📄 Convert Image to PDF</li>
		</ul>	
	</div>
	<div class="col-sm-6">
		<ul>
			<li> 📄 Convert PDF to Individual Images
			</li><li> 📄 Extract PDF Text
			</li><li> 📄 Merge Images as PDF
			</li><li> 📄 Merge PDF
			</li><li> 📄 OCR Images in ABBYY
			</li><li> 📄 OCR PDF in ABBYY
			</li><li> 📄 Rotate Even Pages
			</li><li> 📄 Split PDF
			</li><li> 📝 Add "Double Quotes" to Text
			</li><li> 📝 Add (Brackets) to Text
			</li><li> 📝 Paste as Plain Text
			</li><li> 📝 Replace "Colon" with " - "
			</li><li> 📠 Increase Scale (PDF)
			</li><li> 📠 Paste in Microsoft Word
			</li><li> 📠 Print 1 Pages in 1 (Toner Saver)
			</li><li> 📠 Print 2 Pages in 1 (PDF)
			</li><li> 📠 Print 2 Pages in 1 (Toner Saver)</li>
			<li> Print 2 Pages in 1 (Word) <a href="https://www.youtube.com/watch?v=hMXZ4i1erD0" target="_blank">[Demo]</a></li>
			<li> 📠 Print 9 Pages in 1 - B&W (PPT)
			</li><li> 📠 Print 9 Pages in 1 - Color (PPT)
			</li><li> 📧 Email Files
			</li><li> 📧 Email New Message
			</li><li> 📧 Email Selected Text
			</li><li> 🔒 Hide OR Show File(s)
			</li><li>  Open Services Folder</li>
		</ul>		
	</div>		
</div><!-- end featuresHeading -->	
