<div id="automator-services" class="row">
	<div class="col-12">
		<h2>Automator Services</h2>
	</div><!-- end col-12 -->
	
	<div class="col-sm-6">
		<ul>
			<li> ⏏ Eject All Disks.workflow</li>
			<li> ❌ Delete File(s) Permanently.workflow</li>
			<li> ❌ Uninstall App.workflow
			</li><li> 🌏 Download Torrent from Hash.workflow
			</li><li> 🌏 Kill Firefox plugin-container.workflow
			</li><li> 🌏 Open URL in Firefox.workflow
			</li><li> 🌏 Search with Google (Firefox).workflow
			</li><li> 🎥 Find Subtitles > Open in VLC.workflow
			</li><li> 🎨 Apply Effect to Images.workflow
			</li><li> 🎨 Apply Effect to PDF.workflow
			</li><li> 🎨 Get GPS Position of Image.workflow
			</li><li> 🎨 Rotate Image(s).workflow
			</li><li> 🎵 Import Files into iTunes (A).workflow
			</li><li> 🎵 Import Files into iTunes (V).workflow
			</li><li> 👾 Enable GUI Scripting.workflow
			</li><li> 👾 Hide Application Icon.workflow
			</li><li> 👾 Open with AppleScript Editor.workflow
			</li><li> 👾 Open with Automator.workflow
			</li><li> 👾 Turn ON | OFF App Nap.workflow
			</li><li> 💾 CCC (Scheduled Tasks).workflow
			</li><li> 📂 MD5 Checksum.workflow
			</li><li> 📂 Rename Files.workflow
			</li><li> 📄 Compress PDF.workflow
			</li><li> 📄 Convert Documents To PDF.workflow
			</li><li> 📄 Convert Image to PDF.workflow</li>
		</ul>	
	</div>
	<div class="col-sm-6">
		<ul>
			<li> 📄 Convert PDF to Individual Images.workflow
			</li><li> 📄 Extract PDF Text.workflow
			</li><li> 📄 Merge Images as PDF.workflow
			</li><li> 📄 Merge PDF.workflow
			</li><li> 📄 OCR Images in ABBYY.workflow
			</li><li> 📄 OCR PDF in ABBYY.workflow
			</li><li> 📄 Rotate Even Pages.workflow
			</li><li> 📄 Split PDF.workflow
			</li><li> 📝 Add "Double Quotes" to Text.workflow
			</li><li> 📝 Add (Brackets) to Text.workflow
			</li><li> 📝 Paste as Plain Text.workflow
			</li><li> 📝 Replace "Colon" with " - ".workflow
			</li><li> 📠 Increase Scale (PDF).workflow
			</li><li> 📠 Paste in Microsoft Word.workflow
			</li><li> 📠 Print 1 Pages in 1 (Toner Saver).workflow
			</li><li> 📠 Print 2 Pages in 1 (PDF).workflow
			</li><li> 📠 Print 2 Pages in 1 (Toner Saver).workflow
			</li><li> 📠 Print 2 Pages in 1 (Word).workflow
			</li><li> 📠 Print 9 Pages in 1 - B&W (PPT).workflow
			</li><li> 📠 Print 9 Pages in 1 - Color (PPT).workflow
			</li><li> 📧 Email Files.workflow
			</li><li> 📧 Email New Message.workflow
			</li><li> 📧 Email Selected Text.workflow
			</li><li> 🔒 Hide OR Show File(s).workflow
			</li><li>  Open Services Folder.workflow</li>
		</ul>		
	</div>		
</div><!-- end featuresHeading -->	


