<div class="row" id="featuresHeading">
	<div class="col-12">
		<h2>Work</h2>
		<p class="lead">Some recent projects that I have worked on.</p>
	</div><!-- end col-12 -->
</div><!-- end featuresHeading -->


<div class="row" id="features">
	
<!-- ------------------------------------------------------- -->
<!-- Automator Services -->	
<!-- ------------------------------------------------------- -->	
	<div class="col-sm-4 feature">

		<div class="panel panel-default">
			
			<div class="panel-heading">
				<h3 class="panel-title">Automator Services</h3>
			</div>
			
			<div class="panel-body">
				<center>
					<a href="#automator-services">
						<img class="img-responsive" src="images/automator.jpg" alt="HTML5">
					</a>
				</center>
				<p>Collection of atomator services I've written and use to improve my workflow.</p>
				
				<div class="row" id="">
					<div class="col-sm-6">
						<a href="//github.com/lawrenceting/Automator-Services-and-Workflows---10.10---Yosemite" target="_blank" class="btn btn-primary btn-block">View Code</a>
					</div>
					<div class="col-sm-6">
						<a href="//github.com/lawrenceting/Automator-Services-and-Workflows---10.10---Yosemite/archive/master.zip" target="_blank" class="btn btn-primary btn-block">Download</a>
					</div>					
						
				</div>
			</div>
		</div>		
		
	</div><!-- end feature -->
<!-- ------------------------------------------------------- -->
<!-- Project Cord -->	
<!-- ------------------------------------------------------- -->	
	<div class="col-sm-4 feature">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Project Cord
					<span class="label label-danger">Beta</span>
				 </h3>
			</div>
			<div class="panel-body">
				<center>
				<img class="img-responsive" src="images/ytlogo.jpg" alt="HTML5"> 
				</center>
				<p>Watch YouTube subscriptions. Use Google Chrome on Mac for maximum compatibility.</p>
				
				<div class="row" id="">
					<div class="col-sm-6">
						<a href="#"  class="btn btn-success btn-block" onClick="window.open('http://lawrenceting.tk/cord','pagename','resizable'); return false;">Launch</a>
					</div>
					<div class="col-sm-6">
						<a href="" class="btn btn-success btn-block" data-toggle="modal" data-target="#cordDemo">Screenshot</a>
					</div>
				</div>
				
				<noscript>
					<a href="//lawrenceting.tk/cord" target="_blank" class="btn btn-success btn-block">Launch</a>
				</noscript>				
			</div>
		</div>		
	</div><!-- end feature -->
<!-- ------------------------------------------------------- -->
<!-- Geeklet -->	
<!-- ------------------------------------------------------- -->
	<div class="col-sm-4 feature">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Geeklet</h3>
			</div>
			<div class="panel-body">
				<center>
				<img class="img-responsive" src="images/geektool.png" alt="HTML5" class="img-circle"> 
				</center>
				<p>Displays chinese word(s) on your desktop daily. Geektool required.</p>
				
				<div class="row" id="">
					<div class="col-sm-6">
						<a href="//github.com/lawrenceting/Chinese-Word-of-the-Day---Geeklet" target="_blank" class="btn btn-info btn-block">View Code</a>
					</div>
					<div class="col-sm-6">
						<a href="https://github.com/lawrenceting/Chinese-Word-of-the-Day---Geeklet/archive/master.zip" target="_blank" class="btn btn-info btn-block">Download</a>
					</div>					
				</div>				
				
				
			</div>
		</div>		
	</div><!-- end feature -->	
</div><!-- end features -->
<!-- ------------------------------------------------------- -->
<!-- AppleScript / Bash Snippets -->	
<!-- ------------------------------------------------------- -->
<div class="row" id="features">
	
	<div class="col-sm-4 feature">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">AppleScript / Bash Snippets</h3>
			</div>
			<div class="panel-body">
				<center>
				<img class="img-responsive" src="images/applescript.jpg" alt="HTML5"> 
				</center>
				<p>Collection of AppleScript and Bash scripts I've written and from other sources.</p>
				
				<div class="row" id="">
					<div class="col-sm-6">
				<a href="//github.com/lawrenceting/AppleScript-Snippets" target="_blank" class="btn btn-warning btn-block">View Code</a>
					</div>
					<div class="col-sm-6">
				<a href="https://github.com/lawrenceting/AppleScript-Snippets/archive/master.zip" target="_blank" class="btn btn-warning btn-block">Download</a>
					</div>					
				</div>					
				
			</div>
		</div>		
	</div><!-- end feature -->
<!-- ------------------------------------------------------- -->
<!-- Script for iTunes -->	
<!-- ------------------------------------------------------- -->
	<div class="col-sm-4 feature">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Script for iTunes</h3>
			</div>
			<div class="panel-body">
				<center>
				<img class="img-responsive" src="images/itunes.jpeg" alt="HTML5"> 
				</center>
				<p>iTunes script that opens selected in VLC. Updated for iTunes 12, may not work on older versions.</p>
				
				<div class="row" id="">
					<div class="col-sm-6">
				<a href="//github.com/lawrenceting/Script-for-iTunes---Open-Selected-in-VLC" target="_blank" class="btn btn-danger btn-block">View Code</a>
					</div>
					<div class="col-sm-6">
				<a href="https://github.com/lawrenceting/Script-for-iTunes---Open-Selected-in-VLC/archive/master.zip" target="_blank" class="btn btn-danger btn-block">Download</a>
					</div>					
				</div>					
				
				
			</div>
		</div>		
	</div><!-- end feature -->
<!-- ------------------------------------------------------- -->
<!-- User Styles -->	
<!-- ------------------------------------------------------- -->
	<div class="col-sm-4 feature">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">User Styles</h3>
			</div>
			<div class="panel-body">
				<center>
				<a href="#userstyles-container">
					<img class="img-responsive" src="images/userstyles.jpg" alt="HTML5"> 
				</a>
				</center>
				<p>Auto hide bookmark toolbar and All-in-One Sidebar. Only for Firefox. Stylish extension required.</p>
				
				<a href="//userstyles.org/users/263946" target="_blank" class="btn btn-primary btn-block">View</a>
			</div>
		</div>		
	</div><!-- end feature -->
</div>	