<div id="userstyles" class="row">
	<h2>User Styles</h2>
	<div class="col-sm-12" id="userstyles-container">
<dl><dt><a href="http://userstyles.org/styles/101009/aios-sidebar-autohide" target="_new"><span class="userstyles-style-name">AIOS Sidebar Autohide</span><br></a></dt><dd><span class="userstyles-style-description">The AIOS sidebar appears when far left of screen is clicked. It hides when the mouse is moved away from the AIOS sidebar.

Requires: All-in-One Sidebar
https://addons.mozilla.org/en-US/firefox/addon/all-in-one-sidebar/?src=userprofile <a href="https://df6a.https.cdn.softlayer.net/80DF6A/static.userstyles.org/style_screenshot_thumbnails/101009_after.jpeg?r=1398923415" target="_new">[screenshot]</a></span></dd></dl><dl><dt><a href="http://userstyles.org/styles/101008/bookmarks-toolbar-autohide-upon-hover" target="_new"><span class="userstyles-style-name">Bookmarks Toolbar Autohide upon Hover</span><br></a></dt><dd><span class="userstyles-style-description">The bookmarks toolbar appears when mouse hovers on awesome bar. It hides when mouse is moved away. <a href="https://df6a.https.cdn.softlayer.net/80DF6A/static.userstyles.org/style_screenshot_thumbnails/101008_after.jpeg?r=1398921203" target="_new">[screenshot]</a></span></dd></dl>		
	</div>
</div><!-- end featuresHeading -->	

<script>
	var userstyles = {
		itemTemplate: 
			"<dl>" + 
				"<dt><a href=\"${url}\" target=\"_new\">" + 
					"<span class=\"userstyles-style-name\">${name}</span><br>" + 
				"</a></dt>" + 
				"<dd>" + 
					"<span class=\"userstyles-style-description\">${description} " + 
					"<a href=\"${screenshot}\" target=\"_new\">[screenshot]</a>" + 
					"</span>" + 
				"</dd>" + 
			"</dl>",

		handleData: function(data) {
			var replacements = this.itemTemplate.match(/\$\{[a-z_]+\}/g);
			var allHtml = "";
			for (var i = 0; i < data.length; i++) {
				var itemHtml = this.itemTemplate;
				for (var j = 0; j < replacements.length; j++) {
					var property = this.stripTemplateMarkers(replacements[j]);
					if (property in data[i]) {
						var value = data[i][property];
						if (typeof value == "number") {
							value = this.formatNumber(value);
						}
						itemHtml = itemHtml.replace(new RegExp("\\$\\{" + property + "\\}", "g"), this.escapeHtml(value));
					}
				}
				allHtml += itemHtml;
			}
			console.log(allHtml);

			$("#userstyles-container").html(allHtml);
		},

		escapeHtml: function(html) {
			if (typeof html != "string") {
				return html;
			}
			return html.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;");
		},

		stripTemplateMarkers: function(s) {
			return s.substring(2, s.length - 1);
		},

		formatNumber: function(num) {
		},

		addStylesheet: function() {
		}
	}			

	if (window.addEventListener)
		window.addEventListener("load", userstylesLoad, false);
	else if (window.attachEvent)
		window.attachEvent("onload", userstylesLoad);
	function userstylesLoad() {
		var c = document.getElementById("userstyles-container");
		var s1 = document.createElement("script");
		s1.setAttribute("async", "true");
		var s2 = s1.cloneNode(false);
		s1.src = "/public/js/userstyles/v1.js";
		c.appendChild(s1);
		s2.src = "/public/js/userstyles/263946.jsonp";
		c.appendChild(s2);
	}
</script>
