* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }

*{
	margin: 0px; 
	padding: 0px; 
}

body{
	text-align: center;
    background-color: rgba(235,235,236,1);
}

header{
	display: block;
	border: 1px solid black;
	clear: both;
}

#auth{
	display: block;
	border: 1px solid black;
	float:right; 
}

#content{
	display: block;
	border: 1px solid black;
	margin: auto;
    margin-right: 5%;
    margin-left: 5%;
	clear: both;
}

div[id ^= "channelContainer_"]{
	display: block;
	border: 1px solid black;
	width: auto;
	margin: auto;
	padding: 1px auto;
	text-align: left;
	clear: both;
    background-color: white;
}

div[id ^= "channelThumbnail_"]{
  display: block;
  border: 1px solid black;
  float:left; 
  width:auto;
}

div[id ^= "videoThumbnail_"]{
  display: block;
  border: 1px solid black;
  float:left; 
  width:auto;
}

footer{
	display: block;
	border: 1px solid black;
	clear: both;
}